<app-header></app-header>

<router-outlet></router-outlet>
<!-- <div class="container">
  <h1>Список событий</h1>

  <div *ngIf="events.length === 0">
    <p>Загрузка событий...</p>
  </div> -->

  <!-- <div *ngFor="let event of events" class="event-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ event.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ event.description }}</p>
        <p><strong>Дата:</strong> {{ event.date }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Подробнее</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div> -->

<app-footer></app-footer>

    

