<footer class="footer">
  <div class="footer-container">

    <!-- Левая часть футера -->
    <div class="footer-left">
      <div class="logo">
        <img src="images/logo-icon.svg" class="icon" alt="E">
        <img src="images/logo.svg" class="logo-image" alt="Eventbrite">
      </div>
      <div class="app-links">
        <a href="#" class="app-store">
          <img src="images/app-store.png" alt="App Store">
        </a>
        <a href="#" class="google-play">
          <img src="images/google-play.png" alt="Google Play">
        </a>
      </div>
      
    </div>

    <!-- Правая часть футера -->
    <div class="footer-right">
      
      <!-- Первая колонка -->
      <div class="info-block">
        <ul>
          <li><a href="#">ABOUT US</a></li>
          <li><a href="#">Reviews</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>

      <!-- Вторая колонка -->
      <div class="contact-block">
        <h4>SUBSCRIBE FOR NEWS</h4>
        <p>Contact us: +7 700 777 0707</p>
        <p>E-mail: EventFinder.kz&#64;gmail.com</p>
      </div>
      
    </div> <!-- Закрываем footer-right -->

  </div> <!-- Закрываем footer-container -->

  <hr>
  <p>&copy;2025 Data privacy</p>
  <!-- Нижняя часть футера -->
  <div class="footer-bottom">
    <p>&copy; Copyright. All rights reserved.</p>
  </div>

  <!-- Иконки соцсетей -->
  <div class="social-icons">
    <a href="#" target="_blank">
      <img src="images/telegram.png" alt="Telegram">
    </a>
    <a href="#" target="_blank">
      <img src="images/whatsapp.png" alt="WhatsApp">
    </a>
    <a href="#" target="_blank">
      <img src="images/facebook.png" alt="Facebook">
    </a>
    <a href="#" target="_blank">
      <img src="images/instagram.png" alt="Instagram">
    </a>
  </div>
  
</footer>
